*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 24px;
  color: #3A4562;
  background-color: #fff;
  font-weight: 400;
  font-family: 'Proxima Nova', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}

.title{
  font-size: 28px;
  line-height: 34px;
  color: #3a4562;
  font-weight: 700;
}
.text{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1630px;
  width: 100%;
  padding: 0 20px;
}
.mb40{
  margin-bottom: 40px;
}
.mb25{
  margin-bottom: 25px;
}
.mb10{
  margin-bottom: 10px;
}
.mb30{
  margin-bottom: 30px;
}
.white{
  color: #fff;
}

 #map a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gm-bundled-control .gmnoprint {
    display: block;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-control-active ,.gm-fullscreen-control{
display: none!important;
}